.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.mess-style {
  width: 200px;
  height: 50px;
  border: 1px black solid;
  margin: 5px;
  background-color: rgb(155, 115, 66);
}
